# Debian Wheezy preseed

# Copyright (c) 2013 Maciej Delmanowski <drybjed@gmail.com>
# Homepage: http://drybjed.github.io/d-i/

# This program is free software; you can redistribute
# it and/or modify it under the terms of the
# GNU General Public License as published by the Free
# Software Foundation; either version 2 of the License,
# or (at your option) any later version.
#
# This program is distributed in the hope that it will
# be useful, but WITHOUT ANY WARRANTY; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU General Public
# License for more details.
#
# You should have received a copy of the GNU General
# Public License along with this program; if not,
# write to the Free Software Foundation, Inc., 59
# Temple Place, Suite 330, Boston, MA  02111-1307  USA
#
# An on-line copy of the GNU General Public License can
# be downloaded from the FSF web page at:
# http://www.gnu.org/copyleft/gpl.html


#d-i debian-installer/locale string pl_PL.UTF-8
#d-i keyboard-configuration/variant select polski
#d-i languagechooser/language-name-fb select Polski

d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string unassigned-hostname
d-i netcfg/get_domain string unassigned-domain
d-i netcfg/wireless_wep string

#d-i mirror/country string Poland
#d-i mirror/http/hostname string ftp.pl.debian.org
#d-i mirror/http/directory string /debian
#d-i mirror/http/proxy string

#d-i passwd/root-login boolean false
d-i passwd/make-user boolean false
d-i passwd/root-password password debian
d-i passwd/root-password-again password debian

d-i clock-setup/utc boolean true
#d-i time/zone string Europe/Warsaw
d-i clock-setup/ntp boolean true

d-i partman/mount_style select uuid

d-i base-installer/install-recommends boolean false
d-i base-installer/kernel/image string linux-image-amd64

d-i apt-setup/main boolean true
d-i apt-setup/stable-updates boolean true
d-i apt-setup/contrib boolean true
d-i apt-setup/non-free boolean true
d-i apt-setup/use_mirror boolean true
d-i apt-setup/services-select multiselect security
d-i apt-setup/security_host string security.debian.org

ferm ferm/enable boolean true

tasksel tasksel/first multiselect
d-i pkgsel/include string	vim zsh wget mc less file git htop tmux psmisc sudo rsync ferm molly-guard \
				ca-certificates netcat-openbsd cron-apt openntpd bridge-utils vlan \
				openssh-server openssh-blacklist openssh-blacklist-extra openssl-blacklist \
				python python-apt
d-i pkgsel/upgrade select safe-upgrade

d-i preseed/late_command string in-target wget -O /tmp/wheezy-postinst.sh http://drybjed.github.io/d-i/wheezy/postinst.sh ; in-target chmod +x /tmp/wheezy-postinst.sh ; in-target /tmp/wheezy-postinst.sh ; cp /target/etc/network/interfaces /etc/network/interfaces

popularity-contest popularity-contest/participate boolean false

d-i finish-install/keep-consoles boolean true
d-i finish-install/reboot_in_progress note
d-i cdrom-detect/eject boolean true

